.chart-container{
    canvas {
        margin-left: auto;
        margin-right: auto;
        width: 80vw !important;
    }
}
.table-container {
    margin-top: 5%;
    overflow-x: scroll;
    width: 90vw;
    margin-left: 5vw;
    margin-right: 5vw;
    height: 1000px;
    // overflow-y: scroll;
}
.time-header {
    text-align: center;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}