.header-container {
    font-size: x-large;
    text-align: center;
}
.buttons-container{
    width: 100vw;
    background-color: lightskyblue;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
}