<div class="header-container" color="accent">
    <div class="mat-display-3">
        Выборы в Сургуте
    </div>
</div>
<div class="buttons-container">
    <button mat-button color="primary" routerLink="/campaign" routerDirection="root">
        Кампании
    </button>
    <button mat-button color="accent" (click)="navigateTo('voting')">
        Ход голосования
    </button>
    <button mat-button color="warn"  (click)="navigateTo('protocol')">
        Результаты выборов
    </button>
</div>

<div class="currentCampaign">
    {{currentCampaign?.Id}}
</div>
<router-outlet>
  
</router-outlet>